# NLP-Lab2

For this lab we'll be using movie comments to build a classifier that predicts positive or negative sentiment.

In [2]:
###Import the data
import pandas as pd
df = pd.read_table('./data.txt', sep="\t", names=['sentiment', 'comment'])

In [3]:
df.head()

   sentiment                                            comment
0          1            The Da Vinci Code book is just awesome.
1          1  this was the first clive cussler i've ever rea...
2          1                   i liked the Da Vinci Code a lot.
3          1                   i liked the Da Vinci Code a lot.
4          1  I liked the Da Vinci Code but it ultimatly did...

### Explore the data - any missing values? How much data do we have?

In [3]:
df.isnull().sum()

sentiment    0
comment      0
dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6918 entries, 0 to 6917
Data columns (total 2 columns):
sentiment    6918 non-null int64
comment      6918 non-null object
dtypes: int64(1), object(1)
memory usage: 108.2+ KB

### Split your data into training and testing

In [7]:
from sklearn import preprocessing
from sklearn.model_selection import train_test_split

In [8]:
X = df['comment']
y= df['sentiment']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

### Do any preprocessing you may want to do on the dataframe, keep in mind that for sentiment analysis punctuation (!!!) can be useful to keep

### Use a either a count vectorizer or a TF-IDF vectroizer to extract features from the text. Make sure to adjust the parameters so you don't get more columns than you have observations

In [9]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
tvec = TfidfVectorizer(stop_words='english')

vectorizers = tvec.fit_transform(X_train)

In [12]:
data = pd.DataFrame(vectorizers.todense(), columns=tvec.get_feature_names())
data.head()

,007,10,10pm,12,16,17,1984,1st,200,2007,...,yeah,year,yes,yesterday,yip,yuck,yuh,zach,zen,âµâª
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Train a KNN regression on your text data. your y should be the sentiment.

In [17]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
model = knn.fit(X=data, y=y_train)

In [21]:
model_test = tvec.transform(X_test)
data_test = pd.DataFrame(model_test.todense(), columns = tvec.get_feature_names())

In [23]:
data_test.head() 
model.score(data_test, y_test)

0.98193641618497107

### Use the predict_proba function (see KNN documentation) on your model to create a dataframe with the sentiment value, the comment, and two additional columns that indicate the probability of each comment belonging to one of the two classes.

In [29]:
probs = model.predict_proba(data_test)
df = pd.DataFrame(data=X_test)

In [39]:
df['score'] = probs[:,1]
df['sentiment'] = y_test

In [40]:
df.head()

                                                comment  score  sentiment
5411  I think I hate Harry Potter because it outshin...    0.0          0
413           The Da Vinci Code was absolutely AWESOME!    1.0          1
4240                 The Da Vinci Code sucked big time.    0.0          0
5248  I hate Harry Potter, it's retarted, gay and st...    0.0          0
2727                              I love Harry Potter..    1.0          1

### Select a few comments with probabilities close to 50/50. Do those comments look neutral?

In [44]:
df[(df.score > 0.35) &(df.score < 0.65)]

                                                comment  score  sentiment
4960                     Mission Impossible 3 sucked!..    0.4          0
5073  In fact, I would go as far as to say that I ha...    0.4          0
6036  In her rant, with generalized condemnation of ...    0.4          0
2134  Harry Potter and the Veil of Darkness by Ocean...    0.6          1
5104     While we're on the topic, Harry Potter stinks.    0.6          0
5988  brokeback mountain did suck, and it was way to...    0.6          0
4096        hating the da vinci code, saying its sucky.    0.6          0
4981  The level of badness of these movies is increa...    0.6          0
70    Da Vinci Code was awesome, and sounds more pro...    0.6          1
6083  but " Brokeback Mountain " really was a lousy ...    0.4          0
6018  Brokeback mountain, a movie about two gay cowb...    0.6          0
3946  i thought the da vinci code movie was really b...    0.4          0
1     this was the first clive cussler i've ever rea...    0.6          1
3962  This is why I hate the Da Vinci Code: because ...    0.4          0
6042   I thought Brokeback Mountain was an awful movie.    0.4          0
5137  Kinda like the things off Harry Potter that gi...    0.4          0
6059  now I dont know whether I consider Brokeback M...    0.6          0
4961                  I hate Mission Impossible movies.    0.6          0
6019  then dinner with min and rosie and brokeback m...    0.6          0
3094                     lol i love brokeback mountain.    0.6          1
5002  No, I'm just sick of him making crappy Mission...    0.6          0
5014             Mission Impossible 3 was quite boring.    0.4          0
3015  We were at Dick's and yes, Daniel's hat actual...    0.6          1
2111         yeah, I love Harry Potter to death, lol!..    0.6          1
6056  I did lapse once, created a new account, and l...    0.4          0
1168  It is as if Abrams knows that the only reason ...    0.4          1

Some seem nuetral, others seem negative or positve but are likley short or contain multiple positive and negative words